{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<h1 id="head">
    <img src="{% static 'img/logo.png' %}" alt="Bt Real estate" class="brand_img" height="50" width="80"> Admin area
</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}